<header>
  <a class="header_logo" href="/">Home</a>
  <div class="header_nav">
    <a href="/Portal">Cadastrar Vendas/Serviços</a>

    <% if (user) { %>
      <a href="/login/logout">Sair</a>
      <% } else { %>
        <a href="/login">Entrar</a>
        <% }%>
  </div>

</header>