<%- include('includes/head') %>
  <!--Recebe o cabeçalho  de outro arquivo (/includes/head)-->

  <%- include('includes/nav') %>
    <!--Recebe a barra de navegação de outro arquivo(/includes/nav)-->
    <div class="home_banner">
    </div>
    <div class="bg-text">
      <h1>Página Principal</h1>
    </div>

    <div class="container">
      <h1 class="metodologia_title">
        Metodologia Inovadora
      </h1>

      <div class="gamificacao">
        <div class="gamificacao_text">

        </div>
        <div class="gamificacao_img">
          <img src='./images/gamificacao.png' alt="gamificacao">
        </div>

      </div>

      <p class="text-center lead">
        Ver eventos,tarefas,faltas e notas
      </p>

      <%- include('includes/messages')%>

    </div>

    <%- include('includes/footer') %>